.make_doc{
    background-color: beige;
    height: 55px;
    align-content: center;
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
}
.blank_editer{
    height: 10px;
}
.editer_top_right{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.edit_doc{
    background-color: beige;
    height: 55px;
    align-content: center;
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
}
/* 새문서 작성 html 부분의 가운데 클래스를 모았음 */
/* 자 가운데 비율은 너비값이 고정되고  */

.edit_outer_container{
    display: flex;
    justify-content: center;
}
.background-gray{
    width: 800px;
    min-height: 800px;
    background-color:hsl(0, 9%, 91%);
}

.edit_middle_container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 4px;
}
/* 인풋(문서 제목 작성) 크기 조절 */
.input_title{
    height:7vh;
    width: 50vh;
    font-size: 2.3vh;
}
/* 셀렉트(문서 분류) 크기*/
.select{
    width: 200px;
    height: 55px;
}
/* 목차 수 인풋 */
.input_index{
    width: 80px;
    height: 27px;
}

.edit_submit_file{
    display: flex;
}
.edit_middle_content{
    display: flex;
}

/* 본문 작성 */

.doc_content_out{
    display: none;
    width: 800px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.doc_content_top{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doc_index_title{
    display: flex;
    width: 380px;
    height: 80px;
    font-size: larger;
}

.index_choose{
    display: flex;
    width: 170px;
    height: 80px;
}

.doc_content{
    display: flex;
    margin-top: 20px;
}

.doc_input{
    width: 600px;
    min-height: 500px;
    font-size: medium;
    padding: 2px;
    resize: none;
    
}

.selecting_out{
    display: flex;
    flex-direction: column;

}